@model IEnumerable<ScientificResearch.ViewModel.ERPNWorkToDoViewModel>

    @{
        Layout = "~/Views/Shared/_PopUpLayout.cshtml";
    }

    <div id="ToDoWindow">

    </div>
    <script type="text/javascript">
        function OpeToDoWindow(id) {
            $("#ToDoWindow").kendoWindow({
                position: {
                    top: "15%", // or "100px"
                    left: "13%"
                },
                width:"80%",
                height:"80%",
                modal: true,
                draggable: true,
                title: "正在办理",
                visible: false,
                actions: [
                        "Pin",
                        "Close",
                       // "Minimize",
                     // "Maximize"
                ],
                resizable: false,
                close: function (e) {
                    parent.location.reload();//刷新页面
                }
            });

            $.ajax({
                url: "/SubjectLeader/ReturnStateValue?id=" + id,
                type: "post",
                success: function (data) {
                    if (data != null) {
                        // $("#MaxWindow").html(data);

                        var k = data;
                        //判断返回的状态来控制弹出框第一个打开的页面
                        //申请书已填写未审核、科室主任已经审批申请书、科教科已经审批申请书、科教科已经审批申请书、超级管理员审批已经审批申请书
                        if (data == "AplicationWriting") {
                            $("#ToDoWindow").append(' <iframe id="application" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/SubmitApplication?id=' + id + '">项目申请书</iframe>');
                        }
                        else if (data == "ApplicationRejected" || data == "ApplicationApproving")//申请书已提交和待审批中
                        {
                            if (data == "ApplicationRejected") {
                                $("#ToDoWindow").append(' <iframe id="application" width="100%" height="90%" scrolling="no" style="border:0px" src="/SubjectLeader/ApplicationRejected?id=' + id + '">继教申请书</iframe>');
                            }
                            else {
                                $("#ToDoWindow").append(' <iframe id="application" width="100%" height="90%" scrolling="no" style="border:0px" src="/SubjectLeader/ApplicationAgree?id=' + id + '">继教申请书</iframe>');
                            }
                        }
                        else if (data == "ApplicationApproved" || data == "ProjectEstablishing")//全部通过审批
                        {
                            //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                            $("#ToDoWindow").append(' <iframe id="application" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/ProjectEstablish?id=' + id + '">项目申请书</iframe>');
                        }
                        else if (data == "ProjectEstablished" || data == "ContractSigning")//申请书已提交和待审批中
                        {
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/SignContract?id=' + id + '">合同记录</iframe>');
                        }
                        else if (data == "ContractSigned" || data == "ProjectProcessing")//申请书已提交和待审批中
                        {
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/ProcessRecordList?id=' + id + '">过程记录</iframe>');
                        }
                        else if (data == "ConcludeUnWrite" || data == "ConcludeUnSubmit")//申请书已提交和待审批中
                        {
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/Conclusions?id=' + id + '">项目结案</iframe>');
                        }
                        else if (data == "ProjectConcluding" || data == "ProjectConcluded" || data == "ConcludeRejected")//申请书已提交和待审批中
                        {
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/ConclusionsAgree?id=' + id + '">项目结案</iframe>');
                        }
                        else if (data == "ExtensionUnWrite")//
                        {
                            //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" style="border:0px" src="/SubjectLeader/ExtensionRequest?id=' + id + '">项目延期</iframe>');
                        }
                        else if (data == "ExtensionRequestApproving" || data == "ExtensionAgreed" || data == "ExtensionRejected")//申请书已提交和待审批中
                        {
                            $("#ToDoWindow").append(' <iframe id="process" width="100%" height="130%" scrolling="no" src="/SubjectLeader/ExtensionAgree?id=' + id + '">项目延期</iframe>');
                        }

                    }
                    else {
                        alert("发生异常！");
                    }
                }
            });
            $("#ToDoWindow").data("kendoWindow").center().open();
        }

    </script>

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>
                项目简介
            </th>
            <th>
                上报时间
            </th>
        </tr>
        @{int NO = 0;}
        @foreach (var item in Model)
        {
            { NO++; }
            <tr onclick="OpeToDoWindow(@item.NWorkToDoID)">
                <td>@NO</td>
                <td>
                    <a href="#">@Html.DisplayFor(modelItem => item.WenHao)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStr)
                </td>
            </tr>
        }

    </table>

