@model IEnumerable<ScientificResearch.ViewModel.ERPNWorkToDoViewModel>
@{
    Layout = null;
}

<div id="ToDoWindow">

</div>
<script type="text/javascript">
    function OpeToDoWindow(id) {
        $("#ToDoWindow").kendoWindow({
            position: {
                top: "15%", // or "100px"
                left: "13%"
            },
            width: "80%",
            height: "80%",
            modal: true,
            draggable: true,
            title: "正在办理",
            visible: false,
            actions: [
                    "Pin",
                    "Close",
                   // "Minimize",
                 // "Maximize"
            ],
            resizable: false,
            close: function (e) {
                parent.location.reload();//刷新页面
            }
        });

        $.ajax({
            url: "/Education/GraduateStudent/ReturnStateValue?id=" + id,
            type: "post",
            success: function (data) {
                if (data != null) {
                    // $("#MaxWindow").html(data);

                    var k = data;
                    //判断返回的状态来控制弹出框第一个打开的页面

                    if (data== "AplicationWriting") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/SubmitApplication?id=' + id + '">研究生申请书</iframe>');
                    }
                    else if (data== "ApplicationRejected" || data == "ApplicationApproving")//申请书已提交和待审批中
                    {

                        if (data== "ApplicationRejected") {
                            $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationRejected?id=' + id + '">研究生申请书</iframe>');
                        }
                        else {
                            $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationAgree?id=' + id + '">研究生申请书审批</iframe>');
                        }

                    }
                    else if (data== "ApplicationApproved" || data== "BorrowRegistrationSave")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/CostRegist?id=' + id + '">费用登记</iframe>');
                    }

                    else if (data== "BookCostRegistNot") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/BookCostRegistList?id=' + id + '">书本费使用登记</iframe>');
                    }
                    else if (data == "BookCostRegistSubmit" || data== "GraduationCertificateNot") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + id + '">结业证书</iframe>');
                    }
                    else if (data == "GraduationCertificateSave") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + id + '">结业证书</iframe>');
                    }
                    else if (data == "GraduationCertificateSubmit" || data== "GraduationCertificateAgree") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateAgree?id=' + id + '">结业证书审批中</iframe>');
                    }
                    else if (data== "GraduationCertificateReject") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateReject?id=' + id + '">结业证书被驳回</iframe>');
                    }
                    else if (data == "RewardSituationNot") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + id + '">奖励登记</iframe>');
                    }
                    else if (data== "RewardSituationSubmit") {
                        $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + id + '">奖励登记</iframe>');
                    }

                }
                else {
                    alert("发生异常！");
                }
            }
        });
        $("#ToDoWindow").data("kendoWindow").center().open();
    }


</script>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            项目简介
        </th>
        <th>
            上报时间
        </th>
    </tr>
    @{int NO = 0;}
    @foreach (var item in Model)
    {
        { NO++; }
        <tr onclick="OpeToDoWindow(@item.NWorkToDoID)">
            <td>@NO</td>
            <td>
                <a href="#">@Html.DisplayFor(modelItem => item.WenHao)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStr)
            </td>
        </tr>
    }

</table>
