@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>

@{
    //Layout = "~/Views/Shared/_PopUpLayout.cshtml";
    Layout = null;
}

<div id="ToDoWindow">

</div>
<script type="text/javascript">
     function OpeToDoWindow(id) {
         $("#ToDoWindow").kendoWindow({
             position: {
                 top: "15%", // or "100px"
                 left: "13%"
             },
             width: "80%",
             height: "80%",
             modal: true,
             draggable: true,
             title: "待办",
             visible: false,
             actions: [
                     "Pin",
                     "Close",
                    // "Minimize",
                  // "Maximize"
             ],
             resizable: false,
             close: function (e) {
                 parent.location.reload();//刷新页面
             }
         });

         $.ajax({
             url: "/Education/GraduateStudent/RiZhiReturnStateValue?id=" + id,
             type: "post",
             success: function (data) {
                 if (data != null) {
                     // $("#MaxWindow").html(data);
                     var k = data;
                   
                     //判断返回的状态来控制弹出框第一个打开的页面
                     if (data["ReturnState"] == "AplicationWriting") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/SubmitApplication?id=' + data["applicationId"] + '">研究生申请书</iframe>');
                    }
                     else if (data["ReturnState"] == "ApplicationRejected" || data["ReturnState"] == "ApplicationApproving")//申请书已提交和待审批中
                    {

                         if (data["ReturnState"] == "ApplicationRejected") {
                             $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationRejected?id=' + data["applicationId"] + '">研究生申请书</iframe>');
                        }
                        else {
                             $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationAgree?id=' + data["applicationId"] + '">研究生申请书审批</iframe>');
                        }

                    }
                     else if (data["ReturnState"] == "ApplicationApproved" || data["ReturnState"] == "BorrowRegistrationSave")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/CostRegist?id=' + data["applicationId"] + '">费用登记</iframe>');
                    }

                     if (data["ReturnState"] == "BookCostRegistNot") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/BookCostRegistList?id=' + data["applicationId"] + '">书本费使用登记</iframe>');
                    }
                     else if (data["ReturnState"] == "BookCostRegistSubmit" || data["ReturnState"] == "GraduationCertificateNot") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + data["applicationId"] + '">结业证书</iframe>');
                    }
                     else if (data["ReturnState"] == "GraduationCertificateSave") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + data["applicationId"] + '">结业证书</iframe>');
                    }
                     else if (data["ReturnState"] == "GraduationCertificateSubmit" || data["ReturnState"] == "GraduationCertificateAgree") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateAgree?id=' + data["applicationId"] + '">结业证书审批中</iframe>');
                    }
                     else if (data["ReturnState"] == "GraduationCertificateReject") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateReject?id=' + data["applicationId"] + '">结业证书被驳回</iframe>');
                    }
                     else if (data["ReturnState"] == "RewardSituationNot") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + data["applicationId"] + '">奖励登记</iframe>');
                    }
                     else if (data["ReturnState"] == "RewardSituationSubmit") {
                         $("#ToDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + data["applicationId"] + '">奖励登记</iframe>');
                    }

                 }
                 else {
                     alert("发生异常！");
                 }
             }
         });
         $("#ToDoWindow").data("kendoWindow").center().open();
     };
</script>

