@using ScientificResearch.Utility.Enums;
<!-- workflow id 1030 项目过程记录审批流程-->
<!--Page Related Scripts-->
<script src="~/Scripts/assets/js/fuelux/wizard/wizard-custom.js"></script>

<div class="widget-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                <ul class="steps">
                    <li id="ApprovalStep1" data-target="#wiredstep1" class="ApprovalStepStepComplete"><span class="step">1</span><span class="title">部门经理审批</span><span class="chevron"></span></li>
                    <li id="ApprovalStep2" data-target="#wiredstep2" class="ApprovalStepStepComplete"><span class="step">2</span><span class="title">科教科科员审批</span> <span class="chevron"></span></li>
                    <li id="ApprovalStep3" data-target="#wiredstep3" class="ApprovalStepStepComplete"><span class="step">3</span><span class="title">科教科科长审批</span> <span class="chevron"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>var ApplicationApprovalWorkflowNodeId = 0;</script>
@*填写过程记录
    部门经理审批
    科教科科员审批
    科教科科长审批*@
<!-- 部门经理审批, 科教科科员审批, 科教科科长审批-->
@*@if (ViewBag.ApprovalStep == ApplicationApprovalWorkflowNode.部门经理审批.ToString())
    {
        <script> ApplicationApprovalWorkflowNodeId = 1;</script>
    }
    else if (ViewBag.ApprovalStep == ApplicationApprovalWorkflowNode.科教科科员审批.ToString())
    {
        <script> ApplicationApprovalWorkflowNodeId = 2;</script>
    }
    else if (ViewBag.ApprovalStep == ApplicationApprovalWorkflowNode.科教科科长审批.ToString())
    {
        <script> ApplicationApprovalWorkflowNodeId = 3;</script>
    }
    else if (ViewBag.ApprovalStep == "结束")
    {
        <script> ApplicationApprovalWorkflowNodeId = 4;</script>
    }
    else
    {
        @*Empty.

}*@
@if (Model.JieDianName == ApplicationApprovalWorkflowNode.部门经理审批.ToString())
{
    <script> ApplicationApprovalWorkflowNodeId = 1;</script>
}
else if (Model.JieDianName == ApplicationApprovalWorkflowNode.科教科科员审批.ToString())
{
    <script> ApplicationApprovalWorkflowNodeId = 2;</script>
}
else if (Model.JieDianName == ApplicationApprovalWorkflowNode.科教科科长审批.ToString())
{
    <script> ApplicationApprovalWorkflowNodeId = 3;</script>
}
else if (Model.JieDianName == ApplicationApprovalWorkflowNode.结束.ToString ())
{
    <script> ApplicationApprovalWorkflowNodeId = 4;</script>
}
else
{
    @*Empty.*@
}
<script type="text/javascript">
    var idApprovalStepPre = "#ApprovalStep";

    for (var i = 0; i < ApplicationApprovalWorkflowNodeId; i++) {
        var id = idApprovalStepPre + i;
        $(id).removeClass("ApprovalStepStepComplete").addClass("complete");
    }

    if (ApplicationApprovalWorkflowNodeId != 4) {
        $(idApprovalStepPre + ApplicationApprovalWorkflowNodeId).removeClass("ApprovalStepStepComplete").addClass("active");
    }
</script>