@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<br />

<div id="fundssearchdata">
    经费名称:
    <input type="text" name="fundsName" id="fundsName" style="width: 150px; height: 30px">&nbsp;

    类型:

    <select id="inAndExType" name="inAndExType" style="width: 150px; height: 23px" class="k-list-container k-popup k-group k-reset">
        <option selected>全部</option>
        <option>收入</option>
        <option>支出</option>
    </select>

    经费类型:

    <select id="fundsType" name="fundsType" style="width: 150px; height: 23px" class="k-list-container k-popup k-group k-reset">
        <option selected>全部</option>
        <option>项目报销</option>
        <option>上级拨款</option>
        <option>项目管理费</option>
        <option>预借费用</option>
        <option>奖励</option>
        <option>院内拨款</option>
        <option>日常经费</option>
    </select>

    操作人:
    <input type="text" name="userName" id="username" style="width: 150px; height: 30px">&nbsp;
    状态:

    <select id="fundsState" name="fundsState" style="width: 150px; height: 23px" class="k-list-container k-popup k-group k-reset">
        <option selected>全部</option>
        <option>填写报销单</option>
        <option>部门经理审批</option>
        <option>项目负责人审批</option>
        <option>科教科科员审批</option>
        <option>财务确认</option>
    </select>

    开始时间:
    <input id="flstartTime" value="" type="text" style="width: 150px " />&nbsp;
    结束时间:
    <input id="flendTime" value="" type="text" style="width: 150px " />&nbsp;
    <input type="button" value="查询" onclick="searchrightdataoffundslist()" style="width: 55px; height: 28px" />


</div>
<br />
<div id="bigfundsgrid" class="k-content">
    <div id="fundsGrid">

    </div>
    <script>
        $(function () {
            searchrightdataoffundslist();
        });

        function searchrightdataoffundslist() {
            var searchitem2 = $("#fundsName").val();
            var searchitem3 = $("#inAndExType").val();
            var searchitem4 = $("#fundsType").val();
            var searchitem5 = $("#userName").val();
            var searchitem6 = $("#fundsState").val();
            var searchitem7 = $("#flstartTime").val();
            var searchitem8 = $("#flendTime").val();
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: "post",
                        url: "/Statistic/FundsListStatistics?fundsName=" +
                            encodeURI(searchitem2) + "&inAndExType=" + encodeURI(searchitem3) + "&fundsType=" +
                            encodeURI(searchitem4) + "&userName='" + encodeURI(searchitem5) + "&fundsState=" +
                            encodeURI(searchitem6) + "&startTime=" + encodeURI(searchitem7) + "&endTime=" +
                            encodeURI(searchitem8) + "",
                        dataType: "json",
                        contentType: "application/json",
                    },

                    destroy: {
                        type: "post",
                        url: "/Statistic/DeleteFundsListByModelId",
                        dataType: "json",
                        complete: function (e) {
                            $("#fundsGrid").data("kendoGrid").dataSource.read();
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "read") {
                            var parameter = {
                                page: options.page,
                                pageSize: options.pageSize
                            };
                            return kendo.stringify(parameter);
                        }
                        if (operation == "destroy") {
                            options.action = operation;
                            return { modelId: kendo.stringify(options.models[options.models.length - 1].ID) };
                        }
                    },
                },

                batch: true,
                pageSize: 10,
                schema: {
                    model: {
                        //删除时必须有
                        id: "ID"
                    },
                    data: function (d) {
                        for (var i = 0; i < d.data.length; i++) {
                            //将json时间转换
                            var birthdayMilliseconds = eval('new ' + d.data[i].CreatedTime.replace('/', '', 'g').replace('/', '', 'g'));
                            var birthday = birthdayMilliseconds.toLocaleDateString() + " " + birthdayMilliseconds.toLocaleTimeString();
                            d.data[i].CreatedTime = birthday;
                        }
                        return d.data;
                    },
                    total: function (d) {
                        return d.total;
                    }
                },
                serverPaging: true,
            });

            $("#fundsGrid").kendoGrid({
                dataSource: dataSource,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        display: "显示{0}-{1}条，共{2}条",
                        empty: "没有数据",
                        page: "页",
                        of: "/ {0}",
                        itemsPerPage: "条/页",
                        first: "第一页",
                        previous: "前一页",
                        next: "下一页",
                        last: "最后一页",
                        refresh: "刷新"
                    }
                },
                columns: [
                    {
                        field: "ID",
                        title: "序号",
                        width: "110px",
                        hidden: true,
                    },
                    {
                        field: "Name",
                        title: "费用报销单名称",
                        width: "110px"
                    },
                    {
                        field: "Type",
                        title: "类型",
                        width: "110px"
                    },
                    {
                        field: "TotalPrice",
                        title: "申请总金额",
                        width: "110px"
                    },
                    {
                        field: "UserName",
                        title: "操作人",
                        width: "110px"
                    },
                    {
                        field: "CreatedTime",
                        title: "操作时间",
                        width: "200px",
                       

                    },
                    {
                        field: "JieDianName",
                        title: "状态",
                        width: "110px"
                    },

                    {
                        command:
                        [{ name: "destroy", text: "删除" }]
                    }
                ],
                editable: {
                    //mode: "inline",
                    mode: "popup"
                }
            });
        };

        $(document).ready(function () {
            function startChange() {
                var startDate = start.value(),
                endDate = end.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    end.min(startDate);
                } else if (endDate) {
                    start.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            function endChange() {
                var endDate = end.value(),
                startDate = start.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate());
                    start.max(endDate);
                } else if (startDate) {
                    end.min(new Date(startDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            var start = $("#flstartTime").kendoDatePicker({
                change: startChange
            }).data("kendoDatePicker");

            var end = $("#flendTime").kendoDatePicker({
                change: endChange
            }).data("kendoDatePicker");

            start.max(end.value());
            end.min(start.value());
        });


    </script>
</div>
