<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="well with-header with-footer">
                <div class="header bg-warning">
                    流程简述

                </div>
                <div class="chartFlow">
                    <img src="~/Images/thContEduLCT.gif" />
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-6">
            <div class="well with-header with-footer">
                <div class="header bg-palegreen">
                    详细说明

                </div>
                <div class="chartText">
                  该模块可对院内人员外出进修进行管理，院内人员可新建申请书，经由科教科审(核)批后，经党政联席会议通过，再由科教科通知相关科室准备，并且填写《承诺书》。科教科填写派出证明并交由院办审批盖章后外出进修人员实际开始进修任务。在进修过程中相关人员需根据要求填写过程跟踪记录，使管理者可实时查看到进修的过程。在进修返回后，外出人员需登记进修费用、并且要随时填写完成情况。科技科负责人可根据《承诺书》跟踪一年的完成情况，如未完成任务，则下年不允许(限制)该科室外出进修。  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="well with-header with-footer">
                <div class="header bg-warning">
                    待办事项
                    <span class="getMore"><a href="/Education/ContinuingEducation/WorkContainer">更多</a></span>
                </div>
                @*@Html.Action("Top10WorkToDoList", "Approval")*@
            </div>

        </div>
        <div class="col-xs-12 col-md-6">
            <div class="well with-header with-footer">
                <div class="header bg-palegreen">
                    当前正在进行的事项
                    <span class="getMore getmoreNew"><a href="/Education/ContinuingEducation/ApplicationList">更多</a></span>
                </div>
                @*@Html.Action("Top10WorkDoingList", "Approval")*@
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>